<html><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Professionals1</title>
	<link rel="stylesheet" href="assets\css\bootstrap.min.css">
	<link rel="stylesheet" href="assets\css\font-awesome.min.css">
	<link rel="stylesheet" href="assets\css\style.css">
</head>
<body>
	<!-- Header Section -->
	  <div class="row profession header-sec bg-green">
	  	<div class="header w-100">
	  	  		 <div class="container"> 
	  	 			<div class="brand float-left w-25">
	                     <a href="#"><img src="assets\img\Original.png" alt=""></a>
	  	 			</div> 
	                <div class="header-items float-right w-75">
	                	<div class=" header-links float-right">
	                	    <ul class="list-unstyled">
	                	        <li class="d-inline-block float-left text-white"><a href="#">Syed Hamza</a>|</li>
	                	        <li class="d-inline-block float-left text-white"><a href="#">My Account</a>|</li>
	                	        <li class="d-inline-block float-left text-white"><a href="#">Logout</a></li> 
	                	    </ul>	                		
	                		                		
	                		                		
	                    </div>
	                </div>
	             </div>
	  	 		</div>
	  	 		<!-- nav-end -->
	  	 	</div> 
	  	 	<!-- Header End -->
	  	 		  	 	<!-- pages-links -->
	  	 		  	<section class="bg-grey">
	  	 	            <div class="row">
	  	 	            	<div class="container">
	  	 	            		<div class="breadcrumb-links">
	  	 	            		
	  	 	            			  <ol class="breadcrumb breadcrumb-items float-left">
	  	 	            			    <li class="breadcrumb-item active" aria-current="page">Home</li>
	  	 	            			    <li class="breadcrumb-item " aria-current="page">Library</li>
	  	 	            			  </ol>
	  	 	            			
	  	 	            		</div>
	  	 	            		<div class="social-icons float-right">
	  	 	            			<div class="social-links">
	  	 	            				<ol>
	  	 	            					<li>
	  	 	            						<a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
	  	 	            					</li>
	  	 	            					<li>
	  	 	            						<a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
	  	 	            					</li>
	  	 	            					
	  	 	            					
	  	 	            				</ol>
	  	 	            			</div>
	  	 	            		</div>
	  	 	            	</div>
	  	 	            </div>
	  	 	        </section>
	  	 		  	 	<!-- pages-links end -->

	  	 		  	 	<!--sec-professional--->
	  	 		  	 	<section class="bg-grey">
	  	 		  	 		<div class="row">
	  	 		  	 			<div class="container">
	  	 		  	 				<div class="professional">
	  	 		  	 					<div class="professional-main-head pt-2 pb-2 pl-2 border">
	  	 		  	 						<h2>REVIEWS OF PATIENTS</h2>
	  	 		  	 					</div>
	  	 		  	 					<div class="professional-content bg-white">
	  	 		  	 						<h3>Please Give Your Precious Reviews Here</h3>
	  	 		  	 						
	  	 		  	 						<p class="prof-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	  	 		  	 						
	  	 		  	 					</div>
	  	 		  	 				<div class="select-items">
	  	 		  	 					<div class="row bg-white">
	  	 		  	 					  <div class="col-lg-12 col-md-12 col-sm-12 col-12 item-1 bg-grey">
	  	 		  	 					  	<label>PLEASE SELECT TO SEE IN YOUR SORT</label><br>
	  	 		  	 						<select>sorting
											<option>--please select--</option>
											<option>ASCENDING</option>
											<option>DESCENDING</option>
	  	 		  	 						</select>

  	 		  	 						  </div>
	  	 		  	 					  
	  	 		  	 					  
	  	 		  	 					</div>
	  	 		  	 			  	</div>
	  	 		  	 			  	<div class="feedback">
	  	 		  	 			  		<div class="row">
	  	 		  	 			  			<div id="green" class="col-lg-12">
	  	 		  	 			  				<h2>REVIEW BY PATIENT</h2>
	  	 		  	 			  			</div>
	  	 		  	 			  			<div id="black" class="col-lg-12"></div>
	  	 		  	 			  			<div id="comment" class="col-lg-12">
	  	 		  	 			  				<h4>HUGO MOLINA RIJAS</h4>
	  	 		  	 			  				<p>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	</p>
				  	 		  	 		       	<p>psychology</p>
				  	 		  	 		       	<p>My appointment with the doctor was great. I was so satisfied with the doctor with each and everything thing he used to say to me and he does an excellent job</p>
				  	 		  	 		       	<p>Dated: 02-APRIL-2019</p>
	  	 		  	 			  			</div>
	  	 		  	 			  			<div id="black1" class="col-lg-12"></div>
	  	 		  	 			  			<div id="comment" class="col-lg-12">
	  	 		  	 			  				<h4>HUGO MOLINA RIJAS</h4>
	  	 		  	 			  				<p>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	<i class="fa fa-star star-color" aria-hidden="true"></i>
				  	 		  	 		       	</p>
				  	 		  	 		       	<p>psychology</p>
				  	 		  	 		       	<p>My appointment with the doctor was great. I was so satisfied with the doctor with each and everything thing he used to say to me and he does an excellent job</p>
				  	 		  	 		       	<p>Dated: 02-APRIL-2019</p>
	  	 		  	 			  			</div>
	  	 		  	 			  			<div id="black1" class="col-lg-12"></div>
	  	 		  	 			  		</div>
	  	 		  	 			  	</div>
	  	 		  	 			</div>
	  	 		  	 		</div>
	  	 		  	 		</div>
	  	 		  	 	</section>
	  	 		  	 	<!-- sec-professional-end -->

	  	 		  	 	 <section class="bg-grey">
	  	 		  	 		<div class="row">
	  	 		  	 			<div class="container">
	  	 		  	 		
	  	 		  	 </div>
	  	 		  	</div>
	  	 		  	 	</section>
                            










                            <footer>
       	<div class="footer-items clearfix">
       		<div class="container">
       	    <div class="row">
       	    	
       	 	  <div class="col-lg-3">
       	 		 <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente doloribus distinctio adipisci repudiandae delectus, illum quos eum eos explicabo dolor voluptate velit nesciunt! Ex quisquam nihil harum in amet eum.</article>
       	 		</div>
       	 		<div class="col-lg-3">
       	 		  <ul class="link-pages ">
       	 		  	<li><a href="" class="text-white">Home</a></li>
       	 		  	<li><a href="" class="text-white">Home</a></li>
       	 		  	<li><a href="" class="text-white">Home</a></li>
       	 		  	<li><a href="" class="text-white">Home</a></li>
       	 		  	<li><a href="" class="text-white">Home</a></li>
       	 		  	
       	 		  </ul>
       	 		</div>
       	 		<div class="col-lg-3">
       	 		    <h3>Contact</h3>
       	 		    <div class="info">
       	 		    	<ul class="list-unstyled">
       	 		    		<li>
       	 		    			<dt class="d-inline-block">Address:</dt>
       	 		    			<dd class="d-inline-block">pksol</dd>
       	 		    		</li>
       	 		    		<li>
       	 		    			<dt class="d-inline-block">Contact</dt>
       	 		    			<dd class="d-inline-block">pksol</dd>
       	 		    		</li>
       	 		    		<li>
       	 		    			<dt class="d-inline-block">Email:</dt>
       	 		    			<dd class="d-inline-block">pksol</dd>
       	 		    		</li>
       	 		    		<li>
       	 		    			<a href="" class="text-white"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
       	 		    			<a href="" class="text-white"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
       	 		    			<a href="" class="text-white"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
       	 		    			<a href="" class="text-white"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
       	 		    		</li>
       	 		    	</ul>
       	 		    </div>

       	 		</div>
       	 		<div class="col-lg-3">
       	 		     <h3>Recent Tweets</h3>
       	 		     <ul class="tweets">
       	 		     	<li class="list-unstyled d-inline-block">
       	 		     		<i class="fa fa-twitter d-inline-block" aria-hidden="true"></i>
       	 		     		<dd class="float-right"><a href="" class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde iste ipsa eaque nesciunt harum consequatur numquam </a></dd>
       	 		     	</li>
       	 		     	<li class="list-unstyled d-inline-block">
       	 		     		<i class="fa fa-twitter d-inline-block" aria-hidden="true"></i>
       	 		     		<dd class="float-right"><a href="" class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde iste ipsa eaque nesciunt harum consequatur numquam </a></dd>
       	 		     	</li>
       	 		     </ul>
       	 		</div>
       	 	</div>
       	 	</div>
       	 </div>
       	 <div class="footer-bottom bg-green">
       	 	<div class="terms-and-conditions text-center">
       	 		<p class="text-white m-0">Copyrights Rights Reserved<i class="fa fa-copyright" aria-hidden="true"></i>2007-2012</p>
       	 	</div>
       	 </div> 




       </footer>


	  	 		  	 	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body></html>