<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Quotes</title>
	<link rel="stylesheet" href="assets\css\bootstrap.min.css">
	<link rel="stylesheet" href="assets\css\font-awesome.min.css">
	<link rel="stylesheet" href="assets\css\style.css">
</head>
<body>
	<!-- Header Section -->
	  <div class="row header-sec bg-green">
	  	<div class="quotes header w-100">
	  	  		 <div class="container"> 
	  	 			<div class="brand float-left w-25">
	                    <a href="#"><img src="assets\img\Original.png" alt=""></a>
	  	 			</div> 
	                <div class="header-items float-right w-75">
	                	<div class=" header-links float-right">
	                	    <ul class="list-unstyled">
	                	        <li class="d-inline-block float-left text-white"><a href="#">Syed Hamza</a>|</li>
	                	        <li class="d-inline-block float-left text-white"><a href="#">Go to Home Page</a>|</li>
	                	        <li class="d-inline-block float-left text-white"><a href="#">Logout</a></li> 
	                	    </ul>	                		
	                		                		
	                		                		
	                    </div>
	                </div>
	             </div>
	  	 		</div>
	  	 		<!-- nav-end -->
	  	 	</div> 
	  	 	<!-- Header End -->

	  	 	<!-- pages-links -->
            <div class="row page-link-nav">
            	<div class="container">
            		<div class="pages-links">
            			<ul class="list-unstyled">
            				<li class="d-inline-block active"><a href="">Quotes</a></li>
                            <li class="d-inline-block"><a href="">Favourites</a></li>
                            <li class="d-inline-block"><a href="">My Data</a></li>
            			</ul>
            		</div>
            	</div>
            </div>
	  	 	<!-- pages-links end -->
	  	 	<section>
	  	 		<div class="row quotes-sec">
	  	 			<div class="container">
	  	 				<div class="quotes-head text-center">
	  	 					<h3>UPCOMING APPOINTMENTS</h3>
	  	 				</div>
	  	 			</div>
	  	 		</div>

	  	 	</section>
	  	 	<!-- table-sec -->
	  	 	<section>
	  	 	<div class="container">	
	  	 		<div class="row justify-content-md-center">
	  	 			
	  	 			
	  	 				<table class="table table-sec table-responsive">
	  	 					<thead class="bg-green">
		  	 					<tr class="text-center">
				  	 					<th class="text-white">Day Hour</th>
				  	 					<th class="text-white">First Name</th>
				  	 					<th class="text-white">Address</th>
				  	 					<th class="text-white">Phone</th>
		  	 					</tr>
		  	 					
	  	 					</thead>
	  	 					<tbody>
	  	 						<tr>
		  	 						<td scope="row"><i>You Still dont have reservation</i></td>
		  	 						<td><i>You Still dont have reservation</i></td>
		  	 						<td><i>You Still dont have reservation</i></td>
		  	 						<td><i>You Still dont have reservation</i></td>
		  	 					</tr>
		  	 					

	  	 					</tbody>
	  	 				</table>
	  	 		
	  	 			</div>
	  	 		</div>
	  	 	</section>
	  	 	<!-- table-sec-ends -->
            <!-- footer section -->
            <div class="footer-sec">
            <div class="footer-bottom bg-green">
            	<div class="terms-and-conditions text-center">
            		<p class="text-white m-0 d-inline-block"><i class="fa fa-copyright" aria-hidden="true"></i>2009 Doctrolia Internet,SL</p>
            		<a href="#" class="text-white">About US Contact Us And Privacy Policy</a>
            	</div>
            </div> 
           </div> 
            <!-- footer section end -->
	      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	 	<script src="assets\js\bootstrap.min.js"></script>
 	
</body>
</html>