<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Registry</title>
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="assets/css/style.css">
   </head>
   <body>
      <!-- Header Section -->
      <header>
         <div class="row header-sec bg-green">
            <div class="login-header w-100">
               <div class="container">
                  <div class="brand float-left w-25">
                     <a href="#"><img src="assets/img/Original.png" alt=""></a>
                  </div>
                  <div class="login-header-items registery-items float-right w-75">
                     <div class="login-header-links registery-items-links float-right">
                        <ul class="list-unstyled">
                           <li class="d-inline-block float-left text-white"><button class="btn bg-blue"><a href="#" class="text-white">Registrarme</a></button></li>
                           <li class="d-inline-block float-left text-white pl-2">
                              <button class="btn bg-blue text-white"><a href="#" class="text-white">Loginafjakf</a></button>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <!-- nav-end -->
         </div>
      </header>
      <!-- Header End -->
      <!-- Login-Section -->
      <section>
         <div class="container">
            <div class="row login-sec">
               <div class="col-lg-8">
                  <div class="login-main-head">
                     <h2 class="border-bottom">Registry</h2>
                  </div>
                  <div class="login-points">
                     <ul class="list-unstyled">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>If you are already a Doctoralia user,
                           <a href="#" class="pl-2">Login </a>
                        </li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Registration in Doctoralia is free! Sign up with <a href="">Facebook</a> or your email:</li>
                     </ul>
                  </div>
                  <div class="login_form registry-form text-center">
                     <form action="">
                        <div class="row my-2">
                           <div class="col-lg-2 col-md-2 col-sm-4 col-12 registry-label-sec label-sec">
                              <label for="email" class="email">Email</label>
                           </div>
                           <div class="col-lg-10 col-md-10 col-sm-4 col-12 registry-emai-sec login_input-sec">
                              <input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small class="float-left">We will send a confirmation email to this address</small>
                           </div>
                        </div>
                        <div class="row my-2">
                           <div class="col-lg-2 col-md-2 col-sm-4 col-12 registry-pass">
                              <label for="password" class="mt-2 pt-2">password</label>
                           </div>
                           <div class="col-lg-10 col-md-10 col-sm-4 col-12 registry-pass-input login_input-sec">
                              <input type="password" class="form-control mt-2 w-50" id="exampleInputPassword1"  placeholder="Enter password">
                              <small class="float-left">To log in to Doctoralia</small>
                           </div>
                        </div>
                        <div class="row my-2">
                           <div class="col-lg-2 col-md-2 col-sm-4 col-12 registry-confirm-pas ">
                              <label for="password" class="mt-2 pt-2">Confirm Password</label>
                           </div>
                           <div class="col-lg-10 col-md-10 col-sm-4 col-12 registry-confirm-pas-input  login_input-sec">
                              <input type="password" class="form-control mt-2 w-50" id="exampleInputPassword1"  placeholder="">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-2 col-md-2 col-sm-4 col-2">
                              &nbsp;
                           </div>
                           <div class="col-lg-10 col-md-10 col-sm-4 col-12">
                              <div class="logIn-button registry-link">
                                 <button class="btn btn-primary"><a href="#" class="text-white">Log In</a></button>
                                 <a href="#" class="pl-2">Cancel Record</a>
                              </div>
                              <div class="forget-pas">
                                 <small>By continuing, you are accepting the <a href="" class="text-dark">conditions of use of Doctoralia</a>
                                 </small>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-lg-3">
                  <div class="support">
                     <h3>Advantages of registration:</h3>
                     <div class="reg-list-items">
                        <ul class="list-unstyled">
                           <li>
                              <span><i class="fa fa-check" aria-hidden="true"></i></span>
                              <span><strong>Book an Appointment</strong><small> with your doctor</small></span>
                           </li>
                           <li>
                              <span><i class="fa fa-check" aria-hidden="true"></i></span>
                              <span><strong>Comment </strong><small> on doctors and centers</small></span>
                           </li>
                           <li>
                              <span><i class="fa fa-check" aria-hidden="true"></i></span>
                              <span><strong>Ask </strong><small> experts</small></span> 
                           </li>
                           <li>
                              <small>All completely </small><strong> free </strong>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Login-Section-Ends -->
      <footer>
         <div class="footer-sec">
            <!-- footer-sec-top-start -->
            <div class="row login header-sec bg-green-dark">
               <div class="login-footer w-100">
                  <div class="container">
                     <div class="login-footer-items float-left w-75 order-2">
                        <div class="login-footer-links float-left">
                           <ul class="list-unstyled">
                              <li class="d-inline-block float-left text-white"><a href="#">About US</a>|</li>
                              <li class="d-inline-block float-left text-white"><a href="#">Contact Us </a>|</li>
                              <li class="d-inline-block float-left text-white"><a href="#">Privacy Policy</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="brand float-right w-25 order-1">
                        <a href="#"><img src="assets/img/Original.png" alt=""></a>
                     </div>
                  </div>
               </div>
            </div>
            <!-- footer-sec-top-end -->
            <!-- footer-sec-bottom start -->
            <div class="footer-bottom bg-green">
               <div class="terms-and-conditions text-center">
                  <p class="text-white m-0 d-inline-block"><i class="fa fa-copyright" aria-hidden="true"></i>2009 Doctrolia Internet,SL</p>
                  <a href="#" class="text-white">About US Contact Us And Privacy Policy</a>
               </div>
            </div>
         </div>
         <!-- footer-sec-bottom end -->
      </footer>
   </body>
</html>